node_modules/
/target/
.DS_Store
/*-lock.*
coverage/
.cache/
.parcel-cache/
dist/
lib/
.vscode/
.codesandbox/
.idea/
*.min.js

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp
parcel-bundle-reports/
.verdaccio_storage/
sourcemap-info.json
